*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}


ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
    color: #103037;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
    border-radius: 20px;
}

ul li a.notactive:hover{
    border-radius: 10px;
	color: white;
	background-color : #103037;
}

ul li.active a{
	color:  #ff5700;
}
#main_logo{
	padding-left: 100px;
	padding-top: 30px;
}

.logo img{
	width: 15%;
	height: auto;
	margin-top: 1%;
}

#fidele{
	margin-bottom: auto;
	margin-top: 2%;
}
#fidelediv{
	padding-left: 10%;
}
p {
	font-size: 15px;
  }
.coffiddle{
	border-color: #000;
	border-width: 5px;

}
.upload{
	margin-left: 15%;
	
}
#btn-upload{
	cursor: pointer;
	margin-top: 0;
    background-color: transparent ;
	transition: 0.6s ease;
	border-width: 0ch;
	font-size: large;
	font-family: Century Gothic;
}
#up{
	font-family: Century Gothic;
	padding-left: 10PX;
	color: #ff5700;
}

#btn-upload :hover{
	opacity: 50%;
}

#playBTN{
	width: 15%;
	height: auto;
}
#generate{
	color: #103037;
	border-radius: 5px;
	height: 40px;
	width: 150px;
	background-color: white;
	border-color: #ff5700;
	cursor: pointer
}
#holder{
	margin-top: 5%;
	width: 70%;
	max-width: 70%;
	min-width: 70%;
	height:300px;
	min-height:300px ;
	max-height: 500px;
	border-radius: 7px;
	padding: 10px;
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
}

.block{
	width: 100px;
	display: inline-block;
	padding: 0px 150px;
}
.btn-holder{

	background-image: #eef2fb;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 30px;
    height: auto;
}

#aud{
	color: aliceblue;
	display: none;
	margin-left: 30%;
	display: none;
}
#filelink{
	display: none;
}
.row{
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.full{
	margin-left: 14%;
}
