body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  background-image: url(../images/bg.jpg);
}
#fidele{
	margin-bottom: auto;
	margin-top: 2%;
}
#fidelediv{
	padding-left: 10%;
}
p {
	font-size: 15px;
  }
.coffiddle{
	border-color: #000;
	border-width: 5px;

}
#upload{
	margin-left: 15%;
	
}
#btn-upload{
	cursor: pointer;
	margin-top: 0;
    background-color: transparent ;
	transition: 0.6s ease;
	border-width: 0ch;
	font-size: large;
	font-family: Century Gothic;
}
#up{
	font-family: Century Gothic;
	padding-left: 10PX;
	color: #ff5700;
}

#btn-upload :hover{
	opacity: 50%;
}

#playBTN{
	width: 15%;
	height: auto;
}
#generate{
	color: #103037;
	border-radius: 5px;
	height: 40px;
	width: 150px;
	background-color: white;
	border-color: #ff5700;
	cursor: pointer
}
#loading{
	padding-left: 200px;
	display: none;
}
#holder{
	margin-top: 5%;
	width: 70%;
	max-width: 70%;
	min-width: 70%;
	height:300px;
	min-height:300px ;
	max-height: 500px;
	border-radius: 7px;
	padding: 10px;
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
}

.block{
	width: 100px;
	display: inline-block;
	padding: 0px 150px;
}
.btn-holder{

	background-image: #eef2fb;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 30px;
    height: auto;
}
#mobilefidelediv{
  display: none;
}
#aud{
	color: aliceblue;
	display: none;
	margin-left: 30%;
	display: none;
}
#filelink{
	display: none;
}
#mobileupload{
  display: none;
  
}
.row{
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.full{
	margin-left: 14%;
}


@media screen and (max-width: 680px) {
	.block{
		width:100%;
		margin-left:5%;
	}
  #mobilefidelediv{
    display: block;
  }
  #checkbox-div{
    display: flex;
    flex-direction: row;
  }
  #upload{
    display: none;
  }
  .row{
    display: block;
    padding-left: 0cm;
  }
  #mobileupload{
    display: block;
  }
  #fidelediv{
    display: none;
  }
  #speech-text{
		width:85%;
		margin-left:5%;
		margin-right:5%;
	}
  #upload{
    margin-left: 0%;
    
  }
  #check-box-text{
    padding-left: 5px;
    padding-top: 8px;
    font-size: small;
  }
	.fidelediv{
		display:block;
		margin-left:5%;
		margin-top:5%;
	}
}

