:root {
    --bgcolor: none;
}

navbar{
  color:'black'
}

* {
    margin: 0;
    padding: 0;
}

.page-header {
    background-color: var(--bgcolor);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin-top:2vw;
}
.title {
    color: white;
    align-self: center;
    margin-left: 1.2rem;
}
.nav-bar a   {
    color: #000000;
    padding: 1.3rem;
    cursor: pointer;
}

.nav-bar a:hover {
    color: #FF5700;
}
#navigation-bar a{
    text-decoration:none;
}
.nav-bar a.active {
    background-color: none;
    color: #FF5700;
}

.menu-icon {
    color: #000000;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 700px) {
    .nav-bar {
        display: none;
        position: absolute;
        top: 3.7rem;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
    }

    .nav-bar.responsive {
        display: block;
    }
    #navigation-bar{
        margin-top:10vw;
    }
    .nav-bar a {
        display: block;

    }

    .menu-icon {
        display: block;
        z-index: 1;
        margin-top:2vw;
    }
}


